* {
	box-sizing: border-box;
}
body{
	margin: 0;
}
.container {
	width: 100%;
	padding: 25px;
}
.content {
	width: 100%;
}
.col {
	width: 50%;
	float: left;
}
.center {
	text-align: center;
}
.header .container :first-child img{
	width: 55px;
}
.header .container :nth-child(2) :nth-child(2) h1{
	margin-top: 198px;
}
.header .container :nth-child(2) :first-child {
	margin-top: 28.5px;
}
.header .container .content .col img {
	width: 475px;
	margin-right: 10px;
}
.header {
	width: 100%;
	overflow: hidden;
	color: #FFFFFF;
	font-family: Raleway, sans-serif;
	background-image: url("../res/images/street-background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
h1 {
	margin-left: -18px;
	font-size: 35.4px; 
	font-weight: 400;
}
p {
	line-height: 30px;
}
p.description {
	margin-top: -7px;
	margin-left: -18px;
	font-size: 25px;
	font-weight: 400;
}
a {
	display: inline-block;
	padding: 18px 15px;
	text-decoration: none;
}
a.btn {
	width: 208px; 
	overflow: hidden;
	margin: 0px;
	margin-left: -18px;
	font-size: 21px;
	font-family: Raleway;
	font-weight: 400;
	color: #FFFFFF;
	border-radius: 9px;
	cursor: pointer;
	background-color: #F8A01E; 
	border: 2px solid #F8A01E;
	outline: none;
}
a.btn.btn-transparent {
	margin-left: 25px;
	padding-left: 35px;
    background:none;
    border-color: white;
}
a.btn:hover{
	background-color: #EC8F06; 
	border: 2px solid #EC8F06;
}
a.btn.btn-transparent:hover{
	background-color: rgba(255,255,255,0.4); 
	border: 2px solid rgba(255,255,255,0.4);
	color: #FFFFFF;
}
.features {
	display: block;
	width: 100%;
	overflow: hidden;
	color: #000000;
	font-family: Open Sans, Regular;
	background-color: #FFFFFF;	
}
.feature {
	width: 24%;
	margin: 0 5px;
	padding: 10px 15px;
	color: #3D3D3D;
	font-family: Open Sans, Regular;
	background-color: #FFFFFF;	
	float: left;
}
.features .container {
	padding: 100px 85px 45px 75px;
	overflow: hidden;
}
.features .container .feature img {
	height: 45px;
	width: auto;
}
.features .container .feature h2 {
	margin: 20px 0 0 0;
	font-size: 21px; 
	font-weight: 800;
}
.features .container .feature p {
	margin: 0;
	margin-top: 5px;
	font-size: 17px; 
	font-weight: 400;
	line-height: 33px;
}
.discover {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	padding: 120px 85px; 
	color: #3D3D3D;
	font-family: Open Sans, Regular;
	background-color: #FFFFFF;
}
.discover .content .col h2 {
	margin: 0 0 0 40px;
	font-size: 65px; 
	font-weight: 700;
}
.discover .content .col p {
	margin: 20px 0 0 40px;
	font-size: 21px; 
	font-weight: 600;
	line-height: 35px;
}
.discover .content .col img {
	width: 287px;
	height: 550px;
	margin: 0 -3px;
	padding: 0px; 
}
.discover .content .col .apple {
	margin: 0 -5px 0 9px;
}
.discover .content .col a {
	width: 250px; 
	overflow: hidden;
	color: #FFFFFF;
	padding: 20px 15px 10px;
	border-radius: 50px;
	cursor: pointer;
	background-color: #212121; 
	float: left;
}
.discover .content .col a:nth-child(odd) {
	margin: 120px 10px 10px 45px;
}
.discover .content .col a:nth-child(even) {
	margin: 120px 10px 10px 10px;
}
.discover .content .col a:hover {
	background-color: #494646; 
}
.discover .content .col a img {
	width: 50px; 
	height: auto;
	float: left;
}
.discover .content .col a:nth-child(odd) img {
	margin-top: -10px;
	margin-left: 5px;
}
.discover .content .col a:nth-child(even) img {
	margin-top: -8px;
	margin-left: 15px;
}
.discover .content .col a h2 {
	margin: 0;
	padding: 0;
	margin-left: 20px;
	font-family: Monsterrat, sans-serif;
	font-size: 12px; 
	font-weight: 500;
}
.discover .content .col a p {
	margin: 0;
	margin-top: -10px;
	padding: 0;
	margin-left: 20px;
	font-family: Monsterrat, sans-serif;
	font-size: 15px; 
	font-weight: 700;
}
.ui {
	width: 100%;
	overflow: hidden;
	color: #FFFFFF;	
	font-family: Raleway;
	background-color: #FC7E10;
}
.ui .container {
	padding: 220px auto;
	overflow: hidden;
}
.ui .container .col {
	width: 600px;
	height: auto;
	margin: 30px 0 0 40px;
}
.ui .container .col img{
	width: 620px;
	height: auto;
}
.ui .container .col h2 {
	margin: 50px  0 0 20px;
	font-size: 55px; 
	font-weight: 700;
}
.ui .container .col ul {
	font-size: 21px;
	font-weight: 500;
	margin: 40px 0 0 -15px;
	list-style: none;
}
.ui .container .col ul li{
	padding: 10px;
	padding-left: 0px;
}
.ui .container .col ul li i {
	margin-right: 15px;
}
.ui .container .col img {
	max-width: 100%;
}
.subscription {
	width: 100%;
	overflow: hidden;
	padding: 30px 0 10px 0;
	color: #3D3D3D;
	font-family: Open Sans, sans-serif;
	background-color: #DDDDDD;
}
.subscription h2 {
	margin: 30px 0 0 0;
	font-size: 37px; 
	font-weight: 700;
}
.subscription p {
	margin: 50px 0 40px 0;
	font-size: 21px; 
	font-weight: 500;
}
.subscription form .txt-name {
	padding: 15px 100px 15px 15px;
    border: 0px solid;
	font-size: 18px;
	font-weight: 500;
}
input.txt-email {
	margin: 0 0 0 25px;
	padding: 15px 65px 15px 15px;
    border: 0px solid;
	font-size: 18px;
	font-weight: 500;
}

button.button {
	display: block;
	margin: 25px auto 100px;
	width: 300px; 
	overflow: hidden;
	padding: 11px;
	margin-top: 25px;
	font-size: 23px;
	font-family: Open Sans;
	font-weight: 700;
	color: #FFFFFF;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	background-color: #F58422; 
	outline: none;
}
button.button:hover {
	background-color: #FE9337; 
}
.footer {
	width: 100%;
	overflow: hidden;
	padding: 10px 60px; 
	color: #FFFFFF;
	font-family: Open Sans, Regular;
	background-color: #60615C;
}
.footer .content .left-content a {
	margin-top: 50px;
	margin-left: 2px;
	padding-left: 0px;
	font-size: 17px;
	font-weight: 400;
	color: #FFFFFF;
	cursor: pointer;
}
.footer .content .left-content a:hover {
	color: #FC7E10;
}
.footer .content .left-content p {
	display: block;
	margin-top: -20px;
	margin-left: 2px;
	padding-left: 0px;
	font-size: 17px;
	font-weight: 400;
	color: #FFFFFF;
}
.footer .content .right-content {
	text-align: right;
}
.footer .content .right-content a {
	padding-left: 4px;
	padding-right: 4px;
}
.footer .content .right-content h2{
	font-size: 22px;
	display: block;
	font-weight: 400;
	margin-top: 30px;
	margin-bottom: -5px; 
	padding-left: 450px;
}
.footer .content .right-content	 img{
	height: 50px;
}