* {
	box-sizing: border-box;
}
body {
	color: #3D3D3D;
	font-family: 'Raleway', sans-serif;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
	.header {
		background-size: 100% 100%;
	}
	.header .top-container {
		margin: 25px 0;
	}
	.header .img-logo {
		width: 55px;
		height: auto;
	}
	.header .left-container {
		padding: 40px 90px 50px 20px; 
	}
	.header .right-container {
		padding: 160px 0 0;
	}
	.header .txt-description {
		margin: 20px 0 30px;
		font-size: 25px;
		line-height: 30px;
	}
	.header .container .row .btn-group .btn {
		min-width: 215px;
		margin: 0 25px 0 0; 
		padding: 16px;
		font-size: 21px;
		border-radius: 9px;
	}
	.features .feature {
		min-height: 200px;
		margin: 120px 0 150px;
	}
	.features .feature-img {
		height: 45px;
	}
	.features .title {
		font-size: 22px;
		margin: 30px 0 10px;
	}
	.features .txt-description {
		font-size: 17px; 
		font-weight: 600;
		line-height: 30px;
	}
	.discover .right-container {
		padding: 0 0 0 50px;
	}
	.discover .img-mobile {
		width: 290px;
		height: 570px;
	}
	.discover .title {
		margin: 20px 0;
		font-size: 65px;
	}
	.discover .txt-description {
		font-size: 21px;
		line-height: 40px;
	}
	.discover .container .row .right-container .btn-group .btn {
		min-width: 250px;
		min-height: 55px;
		margin: 90px 15px 0 0;
		padding: 6px 20px;
	}
	.discover .btn-group .btn-img {
		width: 50px;
	}
	.discover .btn-group .txt {
		margin: 10px 0 0;
		font-size: 12px;
	}
	.discover .btn-group .title {
		margin: 0;
		font-size: 13px;
	}
	.discover .container .row  .btn-group .btn .btn-img {
		float: left;
	}
	.ui {
		margin: 170px 0 0;
	}
	.ui .left-container {
		padding: 0;
	}
	.ui .img-mobile {
		margin: 50px 0;
		width: 100%;
	}
	.ui .title {
		margin: 105px 0 50px 30px;
		font-size: 55px;
	}
	.ui ul {
		margin: 0 0 0 30px;
	}
	.ui li {
		margin: 20px 0;
		font-size: 20px;
	}
	.ui i {
		margin: 0 20px 0 0;
	}
	.subscription {
		padding: 80px 0;
	}
	.subscription .title {
		font-size: 35px;
	}
	.subscription .txt-description {
		margin: 50px 0;
		font-size: 21px;
	}
	.subscription input {
		min-width: 320px;
		min-height: 50px;
		margin: 0 10px;
		padding: 0 10px;
		font-size: 17px;
	}
	.subscription .btn-submit {
		padding: 10px 110px;
		margin: 25px auto 0;
		font-size: 23px;
	}
	.footer {
		padding: 25px 0 0;
	}
	.footer .left-container {
		padding: 70px 0 50px;
	}
	.footer .right-container {
		padding: 30px 0;
		text-align: right;
	}
	.footer .links {
		font-size: 17px;
		margin: 5px 0;
	}
	.footer .txt-heading {
		font-size: 20px;
		font-weight: 400;
	}
	.footer .social {
		height: 50px;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.header {
		background-size: 100% 100%;
	}
	.header .top-container {
		margin: 20px 0;
	}
	.header .img-logo {
		width: 45px;
		height: auto;
	}
	.header .left-container {
		padding: 40px 90px 50px 20px; 
	}
	.header .right-container {
		padding: 130px 0 0;
	}
	.header .txt-heading {
		font-size: 27px;
	}
	.header .txt-description {
		margin: 10px 0 20px;
		font-size: 18px;
		line-height: 25px;
	}
	.header .container .row .btn-group .btn {
		min-width: 100px;
		margin: 0 20px 0 0; 
		padding: 12px;
		font-size: 18px;
		border-radius: 8px;
	}
	.features .feature {
		min-height: 200px;
		margin: 120px 0 150px;
	}
	.features .feature-img {
		height: 45px;
	}
	.features .title {
		font-size: 22px;
		margin: 30px 0 10px;
	}
	.features .txt-description {
		font-size: 17px; 
		font-weight: 600;
		line-height: 30px;
	}
	.discover .right-container {
		padding: 0 0 0 50px;
	}
	.discover .img-mobile {
		width: 240px;
		height: 470px;
	}
	.discover .title {
		margin: 15px 0;
		font-size: 55px;
	}
	.discover .txt-description {
		font-size: 18px;
		line-height: 30px;
	}
	.discover .container .row .right-container .btn-group .btn {
		min-width: 200px;
		min-height: 50px;
		margin: 90px 10px 0 0;
		padding: 6px 15px;
	}
	.discover .btn-group .btn-img {
		width: 40px;
	}
	.discover .btn-group .txt {
		margin: 8px 0 0;
		font-size: 10px;
	}
	.discover .btn-group .title {
		margin: 0;
		font-size: 11px;
	}
	.discover .container .row  .btn-group .btn .btn-img {
		float: left;
	}
	.ui {
		margin: 170px 0 0;
	}
	.ui .left-container {
		padding: 0;
	}
	.ui .img-mobile {
		margin: 50px 0;
		width: 100%;
	}
	.ui .title {
		margin: 90px 0 20px 30px;
		font-size: 50px;
	}
	.ui ul {
		margin: 0 0 0 30px;
	}
	.ui li {
		margin: 15px 0;
		font-size: 20px;
	}
	.ui i {
		margin: 0 20px 0 0;
	}
	.subscription {
		padding: 80px 0;
	}
	.subscription .title {
		font-size: 35px;
	}
	.subscription .txt-description {
		margin: 50px 0;
		font-size: 21px;
	}
	.subscription input {
		min-width: 300px;
		min-height: 50px;
		margin: 0 10px;
		padding: 0 10px;
		font-size: 17px;
	}
	.subscription .btn-submit {
		padding: 10px 110px;
		margin: 25px auto 0;
		font-size: 23px;
	}
	.footer {
		padding: 25px 0 0;
	}
	.footer .left-container {
		padding: 70px 0 50px;
	}
	.footer .right-container {
		padding: 30px 0;
		text-align: right;
	}
	.footer .links {
		font-size: 17px;
		margin: 5px 0;
	}
	.footer .txt-heading {
		font-size: 20px;
		font-weight: 400;
	}
	.footer .social {
		height: 50px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.header {
		background-size: cover;
		background-position: center center;
	}
	.header .top-container {
		margin: 20px 0;
	}
	.header .img-logo {
		width: 50px;
		height: auto;
	}
	.header .left-container {
		padding: 0 200px; 
	}
	.header .right-container {
		text-align: center;
	}
	.header .txt-heading {
		font-size: 27px;
	}
	.header .txt-description {
		margin: 10px 0 20px;
		font-size: 18px;
		line-height: 25px;
	}
	.header .container .row .btn-group .btn {
		min-width: 150px;
		margin: 0 20px 20px 0; 
		padding: 12px;
		font-size: 15px;
		border-radius: 8px;
	}
	.features {
		margin: 100px 0;
	}
	.features .feature {
		min-height: 200px;
		margin: 10px 0;
		text-align: center;
	}
	.features .feature-img {
		height: 40px;
	}
	.features .title {
		font-size: 22px;
		margin: 10px 0 10px;
	}
	.features .txt-description {
		font-size: 17px; 
		font-weight: 600;
		line-height: 30px;
	}
	.discover .left-container {
		margin: 0 150px;
	}
	.discover .right-container {
		padding: 30px 10px 0;
		text-align: center;
	}
	.discover .img-mobile {
		width: 240px;
		height: 470px;
	}
	.discover .title {
		font-size: 55px;
	}
	.discover .txt-description {
		font-size: 18px;
		line-height: 30px;
	}
	.discover .container .row .right-container .btn-group .btn {
		min-width: 200px;
		min-height: 50px;
		margin: 30px 10px 0 0;
		padding: 6px 15px;
	}
	.discover .btn-group .btn-img {
		width: 40px;
	}
	.discover .btn-group .txt {
		margin: 8px 0 0;
		font-size: 10px;
	}
	.discover .btn-group .title {
		margin: 0;
		font-size: 11px;
	}
	.discover .container .row  .btn-group .btn .btn-img {
		float: left;
	}
	.ui {
		margin: 100px 0 0;
	}
	.ui .left-container {
		padding: 0;
	}
	.ui .img-mobile {
		margin: 0 135px;
		width: 500px;
	}
	.ui .title {
		margin: 20px 0 30px;
		font-size: 50px;
		text-align: center;
	}
	.ui ul {
		margin: 0 0 40px 150px;
	}
	.ui li {
		margin: 15px 0;
		font-size: 20px;
	}
	.ui i {
		margin: 0 20px 0 0;
	}
	.subscription {
		padding: 80px 0;
	}
	.subscription .title {
		font-size: 35px;
	}
	.subscription .txt-description {
		margin: 50px 0;
		font-size: 21px;
	}
	.subscription input {
		min-width: 300px;
		min-height: 50px;
		margin: 0 10px;
		padding: 0 10px;
		font-size: 17px;
	}
	.subscription .btn-submit {
		padding: 10px 110px;
		margin: 25px auto 0;
		font-size: 23px;
	}
	.footer {
		padding: 25px 0 0;
	}
	.footer .left-container {
		padding: 50px 0 0;
		text-align: center;
	}
	.footer .right-container {
		padding: 0 0 50px;
		text-align: center;
	}
	.footer .links {
		font-size: 17px;
		margin: 5px 0;
	}
	.footer .txt-heading {
		font-size: 20px;
		font-weight: 400;
	}
	.footer .social {
		height: 50px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.header {
		background-size: cover;
		background-position: center center;
	}
	.header .top-container {
		margin: 20px 0;
	}
	.header .img-logo {
		width: 50px;
		height: auto;
	}
	.header .left-container {
		padding: 0 200px; 
	}
	.header .right-container {
		text-align: center;
	}
	.header .txt-heading {
		font-size: 27px;
	}
	.header .txt-description {
		margin: 10px 0 20px;
		font-size: 18px;
		line-height: 25px;
	}
	.header .container .row .btn-group .btn {
		min-width: 150px;
		margin: 0 20px 20px 0; 
		padding: 12px;
		font-size: 15px;
		border-radius: 8px;
	}
	.features {
		margin: 100px 0;
	}
	.features .feature {
		min-height: 200px;
		margin: 10px 0;
		text-align: center;
	}
	.features .feature-img {
		height: 40px;
	}
	.features .title {
		font-size: 22px;
		margin: 10px 0 10px;
	}
	.features .txt-description {
		font-size: 17px; 
		font-weight: 600;
		line-height: 30px;
	}
	.discover .left-container {
		margin: 0 150px;
	}
	.discover .right-container {
		padding: 30px 0 0 50px;
		text-align: center;
	}
	.discover .img-mobile {
		width: 240px;
		height: 470px;
	}
	.discover .title {
		margin: 15px 0;
		font-size: 55px;
	}
	.discover .txt-description {
		font-size: 18px;
		line-height: 30px;
	}
	.discover .container .row .right-container .btn-group .btn {
		min-width: 200px;
		min-height: 50px;
		margin: 30px 10px 0 0;
		padding: 6px 15px;
	}
	.discover .btn-group .btn-img {
		width: 40px;
	}
	.discover .btn-group .txt {
		margin: 8px 0 0;
		font-size: 10px;
	}
	.discover .btn-group .title {
		margin: 0;
		font-size: 11px;
	}
	.discover .container .row  .btn-group .btn .btn-img {
		float: left;
	}
	.ui {
		margin: 100px 0 0;
	}
	.ui .left-container {
		padding: 0;
	}
	.ui .img-mobile {
		margin: 0 135px;
		width: 500px;
	}
	.ui .title {
		margin: 20px 0 30px;
		font-size: 50px;
		text-align: center;
	}
	.ui ul {
		margin: 0 0 40px 150px;
	}
	.ui li {
		margin: 15px 0;
		font-size: 20px;
	}
	.ui i {
		margin: 0 20px 0 0;
	}
	.subscription {
		padding: 80px 0;
	}
	.subscription .title {
		font-size: 35px;
	}
	.subscription .txt-description {
		margin: 50px 0;
		font-size: 21px;
	}
	.subscription input {
		min-width: 300px;
		min-height: 50px;
		margin: 0 10px;
		padding: 0 10px;
		font-size: 17px;
	}
	.subscription .btn-submit {
		padding: 10px 110px;
		margin: 25px auto 0;
		font-size: 23px;
	}
	.footer {
		padding: 25px 0 0;
	}
	.footer .left-container {
		padding: 50px 0 0;
		text-align: center;
	}
	.footer .right-container {
		padding: 0 0 50px;
		text-align: center;
	}
	.footer .links {
		font-size: 17px;
		margin: 5px 0;
	}
	.footer .txt-heading {
		font-size: 20px;
		font-weight: 400;
	}
	.footer .social {
		height: 50px;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.header {
		background-size: cover;
		background-position: center center;
	}
	.header .top-container {
		margin: 20px 0;
	}
	.header .img-logo {
		width: 40px;
		height: auto;
	}
	.header .left-container {
		padding: 0 120px; 
	}
	.header .right-container {
		text-align: center;
	}
	.header .txt-heading {
		font-size: 25px;
	}
	.header .txt-description {
		margin: 10px 0 20px;
		font-size: 15px;
		line-height: 25px;
	}
	.header .container .row .btn-group .btn {
		min-width: 125px;
		margin: 0 5px 20px 5px; 
		padding: 10px;
		font-size: 13px;
		border-radius: 8px;
	}
	.features {
		margin: 70px 0;
	}
	.features .feature {
		min-height: 200px;
		margin: 10px 0;
		text-align: center;
	}
	.features .feature-img {
		height: 40px;
	}
	.features .title {
		font-size: 20px;
		margin: 10px 0 10px;
	}
	.features .txt-description {
		font-size: 15px; 
		font-weight: 600;
		line-height: 25px;
	}
	.discover .left-container {
		margin: 0 55px;
	}
	.discover .right-container {
		padding: 20px 15px 0;
		text-align: center;
	}
	.discover .img-mobile {
		width: 150px;
		height: 300px;
	}
	.discover .title {
		font-size: 50px;
	}
	.discover .txt-description {
		font-size: 15px;
		line-height: 25px;
	}
	.discover .container .row .right-container .btn-group .btn {
		min-width: 200px;
		min-height: 50px;
		margin: 5px 90px;
		padding: 6px 15px;
	}
	.discover .btn-group .btn-img {
		width: 40px;
	}
	.discover .btn-group .txt {
		margin: 8px 0 0;
		font-size: 10px;
	}
	.discover .btn-group .title {
		margin: 0;
		font-size: 11px;
	}
	.discover .container .row  .btn-group .btn .btn-img {
		float: left;
	}
	.ui {
		margin: 70px 0 0;
	}
	.ui .left-container {
		padding: 0;
	}
	.ui .img-mobile {
		margin: 0 60px;
		width: 300px;
	}
	.ui .title {
		margin: 10px 0 10px;
		font-size: 35px;
		text-align: center;
	}
	.ui ul {
		margin: 0 0 40px 70px;
	}
	.ui li {
		margin: 10px 0;
		font-size: 18px;
	}
	.ui i {
		margin: 0 20px 0 0;
	}
	.subscription {
		padding: 50px 0;
	}
	.subscription .title {
		font-size: 30px;
	}
	.subscription .txt-description {
		margin: 20px 0;
		font-size: 19px;
	}
	.subscription input {
		min-width: 300px;
		min-height: 50px;
		margin: 5px 10px;
		padding: 0 10px;
		font-size: 17px;
	}
	.subscription .btn-submit {
		padding: 10px 110px;
		margin: 25px auto 0;
		font-size: 23px;
	}
	.footer {
		padding: 20px 0 0;
	}
	.footer .left-container {
		padding: 50px 0 0;
		text-align: center;
	}
	.footer .right-container {
		padding: 0 0 50px;
		text-align: center;
	}
	.footer .links {
		font-size: 15px;
		margin: 5px 0;
	}
	.footer .txt-heading {
		font-size: 18px;
		font-weight: 400;
	}
	.footer .social {
		height: 40px;
	}
}

.title {
	font-weight: 700;	
}
.white {
	color: #FFFFFF
}
.upper-case {
	text-transform: uppercase;
}
.header {
	width: 100%;
	overflow: hidden;
	background-image: url("../res/images/street-background.jpg");
	background-repeat: no-repeat;
}
.header .txt-heading {
	font-weight: 400;
}
.header .container .row .btn-group .btn {
	background-color: #F9A01E;
	border: 2px solid #F9A01E;
	outline: none;
}
.header .container .row .btn-group .btn:hover {
	color: #FFFFFF;
	background-color: #F1A434;
	border: 2px solid #F1A434;
}
.header .container .row .btn-group .btn-transparent {
	background-color: transparent;
	border: 2px solid #FFFFFF;
}
.header .container .row .btn-group .btn-transparent:hover {
	background-color: rgba(255, 255, 255, .2);
	border: 2px solid #FFFFFF;
}
.features {
	width: 100%;
	overflow: hidden;
	font-family: 'Open Sans';
}
.discover {
	width: 100%;
	overflow: hidden;
	font-family: 'Open Sans';
}
.discover .left-container {
	padding: 0;
}
.discover .img-mobile {
	float: left;
}
.discover .container .row .right-container .btn-group .btn {
	color: #FFFFFF;
	background-color: #212121; 
	text-align: left;
	border-radius: 50px;
	box-shadow: 0 0 20px #888888;
	font-family: 'Montserrat', sans-serif;
}
.discover .container .row  .btn-group .btn:hover {
	background-color: #494646;
}
.discover .container .row  .btn-group .btn .btn-img {
	float: left;
}
.ui {
	width: 100%;
	overflow: hidden;
	background-color: #FC7E10;
}
.ui .left-container {
	padding: 0;
}
.ui li {
	font-weight: 600;
}
.subscription {
	width: 100%;
	overflow: hidden;
	background-color: #DDDDDD;
	text-align: center;
}
.subscription .txt-description {
	font-family: 'Open Sans';
	font-weight: 600;
}
.subscription input {
	font-family: 'Open Sans';
	font-weight: 700;
	border: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3D3D3D;
}
.subscription .btn-submit {
	display: block;
	font-family: 'Open Sans';
	border-radius: 50px;
	background-color: #F68423;
}
.subscription .btn-submit:hover {
	color: #FFFFFF;
	background-color: #FD8A29;
}
.footer {
	width: 100%;
	overflow: hidden;
	background-color: #60615C;
	font-family: 'Open Sans';
}
.footer .links:hover {
	color: #FC7E10;
	text-decoration: none;
}