* {
	box-sizing: border-box;
}
body {
	width: 100%;
	overflow: hidden;
	background-image: url("../res/images/garden.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.container {
	margin: 120px auto;
	padding: 15px;
	background-color: rgba(255, 255, 255, .3);
	border-radius: 5px;
}
.content {
	text-align: center;
}
.counter {
	font-family: 'Raleway';
	font-weight: 600;
	margin: 10px;
}
.btn {
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
}
.img-cat {
	width: 100%;
	margin: 10px auto 20px;
}