body{
	margin: 0px;
}
header,
footer,
nav{
	width: 98%;
	height: 65px;
	margin: 10px;
	font-size:20px;
	text-align: center;
	border:1px solid black;
	font-weight: 500;
}
section,
article{
	width: 70%;
	height: 175px;
	margin: 10px;
	font-size:20px;
	text-align: center;
	border:1px solid black;
	font-weight: 500;
}
aside{
	width: 27%;
	height: 362px;
	margin-right: 15px;
	float:right;
	font-size:20px;
	text-align: center;
	border:1px solid black;
	font-weight: 500;
}