
header{
	width: 100%;
	height: 40px;
	padding: 10px;
	color: #000000;
	float:top;
	font-size:20px;
	font-weight: 500;
	background-color: #D0FFDD;
}
body{
	margin: 0;
}
article{
	width: 100%;
	height: 475px;
	padding: 10px;
	color: #000000;
	font-size:20px;
	font-weight: 500;
	background-color: #ff9fa0;
}
ul{
	margin-top: 0px;
    padding: 5px;
	list-style: none;
    list-style-type: none;
}
li{
	width: 70%;
	height: 115px;
	margin-bottom: 11px;
	padding: 10px;
	color: #000000;
	font-size:20px;
	font-style: bold;
	background-color: #A4E4FF;
}
aside{
	width: 24%;
	height: 408px;
	margin-right: 25px;
	margin-top: 32px;
	padding: 10px;
	color: #000000;
	float:right;
	font-size:20px;
	font-style: bold;
	background-color: #A4E4FF;
}
footer{
	width: 100%;
	height: 40px;
	padding: 10px;
	color: #000000;
	float:top;
	font-size:20px;
	font-weight: 500;
	background-color: #83FF9F;
}